# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
.venv/

# Build and distribution
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Django specific
db.sqlite3
media/
staticfiles/
*.log

# Environment variables / configs
*.env
*.ini
*.cfg
.DS_Store
